  body {
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
  }
  
  .logo {
    width: 500px;
    height: auto;
    opacity: 1;
    transition: opacity 0.5s ease-out;
  }
  
  .fade-out {
    opacity: 0;
  }
  